name: "Setup JFrog CLI OIDC Example"
on:
  workflow_dispatch:  # Manual trigger for configuration workflows
  push:
    branches: [ main ]
    paths: [ '.github/workflows/jfrog-github-oidc-example.yml' ]  # Only run on workflow changes

permissions:
  # This is required for requesting the OIDC token
  id-token: write
  # This is required for actions/checkout
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@<full-length-commit-SHA>
        env:
          JF_URL: ${{ vars.JF_URL }}
        with:
          oidc-provider-name: mohavro/financial-asset-relationship-db@github

      - name: Run JFrog CLI
        run: |
          # Ping the server
          jf rt ping
