# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'frontend/**'
      - '**/*.js'
      - '**/*.ts'
      - '**/*.tsx'
      - 'package.json'
      - 'package-lock.json'
      - '.github/workflows/node.js.yml'
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'frontend/**'
      - '**/*.js'
      - '**/*.ts'
      - '**/*.tsx'
      - 'package.json'
      - 'package-lock.json'
      - '.github/workflows/node.js.yml'
    paths-ignore:
      - '**/*.md'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Node CI common (${{ matrix.node-version }})
      uses: ./.github/actions/ci-common
      with:
        language: node
        node-version: ${{ matrix.node-version }}
        dependency-paths: |
          package-lock.json
        install: |
          npm ci
        build: |
          npm run build --if-present
        test: |
          npm test --if-present
