name: Pylint

on:
  push:
    branches: [ "main" ]
    paths:
      - '**/*.py'
      - 'requirements*.txt'
      - '.github/workflows/pylint.yml'
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**/*.py'
      - 'requirements*.txt'
      - '.github/workflows/pylint.yml'
    paths-ignore:
      - '**/*.md'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - name: Python CI common for pylint (${{ matrix.python-version }})
      uses: ./.github/actions/ci-common
      with:
        language: python
        python-version: ${{ matrix.python-version }}
        dependency-paths: |
          requirements.txt
          requirements-dev.txt
        install: |
          python -m pip install --upgrade pip && \
          pip install pylint && pip install -r requirements-dev.txt
        test: |
          pylint $(git ls-files '*.py')
